.table {
  margin-top: 20px;
  height: 40vh;
  overflow: auto;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table tr:nth-of-type(odd) {
  background-color: #f5f6fa;
}

.table td {
  padding: 0.5rem;
}
