.table {
  display: block;
  margin-top: 20px;
  height: 40vh;
  width: 100%;
  overflow: auto;
}
tbody {
  display: table;
  width: 100%;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table tr:nth-of-type(odd) {
  background-color: #f5f6fa;
}

.table td {
  padding: 0.5rem;
  color: #7f8c8d;
}
